/* =============================================================
                        common css start
================================================================= */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.myContainer {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --button-color: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
    --navbar-background: #F3F5F4;
    --body-color: #FFFFFF;
    --footer-background: #353333;
    --header-text-color: #F8F9FA;
    --body-text-color: #2D2D2D;
    --footer-text-color: #F8F9FA;
    --icon-color: #ED4264
}

/* =============================================================
                        common css end
================================================================= */

/* ============================================================
                        mobile css start 
================================================================ */

/* desktop header start */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.desktop-header {
    display: block;
    background-color: var(--navbar-background);
    padding: 15px 24px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header nav .logo img {
        width: 84px;
        height: 14px;
    }

    header nav button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    header nav .openIcon,
    header nav .closeIcon {
        color: var(--icon-color) !important;
        font-size: 20px;
    }

#sideBar {
    position: fixed;
    top: 54px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 54px);
    background: rgba(243, 245, 244, 0.85);
    backdrop-filter: blur(10px);
    opacity: 0.95;
    -webkit-backdrop-filter: blur(15px);
    transition: 0.5s ease-in-out;
    z-index: 999;
    overflow-y: auto;
    border-top: 1px solid rgba(0,0,0,0.20);
}

.sidebar-active {
    left: 0 !important;
}

#sideBar ul {
    list-style: none;
    padding: 12px;
    margin: 0;
}

    #sideBar ul li {
        padding: 12px 0;
        text-align: center;
    }

        #sideBar ul li a {
            text-decoration: none;
            color: var(--body-text-color);
            font-weight: 600;
            font-size: 15px;
        }


#sideBar .sidebar-footer .amin-actions {
    padding: 15px 20px;
    text-align: center;
}

#sideBar i {
    background: var(--button-color) !important;
    font-size: 50px;
    margin: 0 15px;
    display: inline-block;
}

#sideBar button {
    background: var(--button-color) !important;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    margin: 5px auto;
    cursor: pointer;
    display: block;
}

    #sideBar button a {
        color: #fff !important;
        text-decoration: none;
    }

/* desktop header end */


/* table start */

.table-content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    padding: 20px 0;
}

.table-title{
    font-size: 18px;
}

    .table-content-area:has(tbody tr:nth-child(5)) {
        justify-content: flex-start;
    }

.table-wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    overflow-x: scroll;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
}

   
    .table-content thead {
        background: var(--footer-background);
        color: white;
    }

    .table-content th,
    .table-content td {
        padding: 10px 15px;
        text-align: center;
        font-size: 11px;
    }


.table-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.table-btn {
    display: inline-block;
    padding: 6px 10px;
    background: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    transition: 0.3s;
    border: none;
}

/* table end */

/* admin & user profile start */

.adminprofile-section, .userprofile-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.adminprofile-wrapper, .userprofile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--navbar-background);
}

.adminprofile-img, .userprofile-img {
    flex: 1;
    width: 100%;
    height: 280px !important;
    text-align: center;
}

    .adminprofile-img img, .userprofile-img img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }


.adminprofile-content, .userprofile-content {
    flex: 1;
    width: 100%;
    color: #ffffff;
    padding: 15px;
}

.adminprofile-title, .userprofile-title {
    color: #ED4264;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.adminprofiel-name, .userprofiel-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.adminprofile-role, .userprofile-role {
    font-size: 15px;
    color: #ED4264;
    font-weight: bold;
    margin-bottom: 8px;
}

.adminprofile-desc, .userprofile-desc {
    font-size: 12px;
    line-height: 1.7;
    color: #666;
    margin-bottom: 10px;
}


.adminprofile-actions, .userprofile-actions {
    display: flex;
    gap: 15px;
}

    .adminprofile-actions .buttons, .userprofile-actions .buttons {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 8px 0;
        width: 100%;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        color: #fff !important;
    }

/* admin & user profile start */

/* common-form-wrapper start */

.common-form-wrapper {
    background-color: var(--navbar-background);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin: 40px auto;
    width: 100%;
}

.form-title {
    color: #ED4264;;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.master-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-group {
    width: 100%;
}

.common-input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.5);
    color: gray;
    outline: none;
    font-weight: 500;
    font-size: 14px;
}

    .common-input option {
        width: 100%;
        background-color: white;
        color: #353333;
    }

.text-area-input {
    width: 100%;
    height: 100px;
    resize: none;
}

.image-preview-container {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px dashed rgba(255,255,255,0.3);
    margin: 0 auto;
}

.form-img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.common-submit-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
    color: white;
    font-weight: 600;
    font-size: 14px;
}

/* common-form-wrapper end */

/* ============================================================
                        mobile css end 
================================================================ */

/* ============================================================
                        media-query css start 
================================================================ */

@media screen and (min-width: 576px) {

    /* desktop header start */

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 20px 28px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav .logo img {
            width: 94px;
            height: 20px;
        }

        header nav button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
        }

        header nav .openIcon,
        header nav .closeIcon {
            color: var(--icon-color) !important;
            font-size: 22px;
        }

    #sideBar {
        position: fixed;
        top: 64px;
        left: -100%;
        width: 35%;
        height: calc(100vh - 64px);
        background: rgba(243, 245, 244, 0.85);
        backdrop-filter: blur(10px);
        opacity: 0.95;
        -webkit-backdrop-filter: blur(15px);
        transition: 0.5s ease-in-out;
        z-index: 999;
        overflow-y: auto;
        border-top: 1px solid rgba(0,0,0,0.20);
    }

    .sidebar-active {
        left: 0 !important;
    }

    #sideBar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

        #sideBar ul li {
            text-align: center;
        }

            #sideBar ul li a {
                text-decoration: none;
                color: var(--body-text-color);
                font-weight: 600;
                font-size: 14px;
            }


    #sideBar .sidebar-footer .admin-actions {
        text-align: center;
    }

        #sideBar .sidebar-footer .admin-actions a i {
            color: var(--button-color) !important;
            font-size: 14px;
            margin: 0 15px;
            display: inline-block;
        }

    #sideBar button {
        background: var(--button-color) !important;
        border: none;
        padding: 6px 14px;
        border-radius: 5px;
        margin: 5px auto;
        cursor: pointer;
        display: block;
    }

        #sideBar button a {
            color: #fff !important;
            text-decoration: none;
        }

    /* desktop header end */

    /* table start */

    .table-content-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        width: 100%;
        padding: 20px 0;
    }

    .table-title {
        font-size: 18px;
    }

    .table-content-area:has(tbody tr:nth-child(5)) {
        justify-content: flex-start;
    }

    .table-wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        overflow-x: auto;
    }

    .table-content {
        width: 100%;
        border-collapse: collapse;
    }


        .table-content thead {
            background: var(--footer-background);
            color: white;
        }

        .table-content th,
        .table-content td {
            padding: 10px 15px;
            text-align: center;
            font-size: 12px;
        }

    .table-img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .table-btn {
        display: inline-block;
        padding: 6px 12px;
        background: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
        color: white !important;
        text-decoration: none;
        border-radius: 4px;
        font-size: 11px;
        font-weight: bold;
        transition: 0.3s;
        border: none;
    }

    /* table end */

    /* admin & user profile start */

    .adminprofile-section, .userprofile-section {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
    }

    .adminprofile-wrapper, .userprofile-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        background-color: var(--navbar-background);
    }

    .adminprofile-img, .userprofile-img {
        flex: 1;
        width: 100%;
        min-height: 230px !important;
        text-align: center;
    }

        .adminprofile-img img, .userprofile-img img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }


    .adminprofile-content, .userprofile-content {
        flex: 1;
        width: 100%;
        color: #ffffff;
        padding: 12px;
    }

    .adminprofile-title, .userprofile-title {
        color: #ED4264;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .adminprofiel-name, .userprofiel-name {
        font-size: 13px;
        font-weight: bold;
        color: #333;
        margin-bottom: 8px;
    }

    .adminprofile-role, .userprofile-role {
        font-size: 15px;
        color: #ED4264;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .adminprofile-desc, .userprofile-desc {
        font-size: 12px;
        line-height: 1.7;
        color: #666;
        margin-bottom: 10px;
    }


    .adminprofile-actions, .userprofile-actions {
        display: flex;
        gap: 10px;
    }

        .adminprofile-actions .buttons, .adminprofile-actions .buttons {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 8px 6px;
            width: 100%;
            color: #fff !important;
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 8px;
            border: none;
        }


    /* admin & user profile end */

}


@media screen and (min-width: 768px) {

    /* desktop header start */

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 20px 28px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav .logo img {
            width: 100px;
            height: 20px;
        }

        header nav button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
        }

        header nav .openIcon,
        header nav .closeIcon {
            color: var(--icon-color) !important;
            font-size: 22px;
        }

    #sideBar {
        position: fixed;
        top: 64px;
        left: -100%;
        width: 35%;
        height: calc(100vh - 64px);
        background: rgba(243, 245, 244, 0.85);
        backdrop-filter: blur(10px);
        opacity: 0.95;
        -webkit-backdrop-filter: blur(15px);
        transition: 0.5s ease-in-out;
        z-index: 999;
        overflow-y: auto;
        border-top: 1px solid rgba(0,0,0,0.20);
    }

    .sidebar-active {
        left: 0 !important;
    }

    #sideBar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

        #sideBar ul li {
            text-align: center;
        }

            #sideBar ul li a {
                text-decoration: none;
                color: var(--body-text-color);
                font-weight: 600;
                font-size: 16px;
            }


    #sideBar .sidebar-footer .admin-actions {
        text-align: center;
    }

        #sideBar .sidebar-footer .admin-actions a i {
            color: var(--button-color) !important;
            font-size: 16px;
            margin: 0 15px;
            display: inline-block;
        }

    #sideBar button {
        background: var(--button-color) !important;
        border: none;
        padding: 6px 14px;
        border-radius: 5px;
        margin: 5px auto;
        cursor: pointer;
        display: block;
    }

        #sideBar button a {
            color: #fff !important;
            text-decoration: none;
        }

    /* desktop header end */

    /* table start */

    .table-content-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        width: 100%;
        padding: 20px 10px;
    }

    .table-title {
        font-size: 20px;
    }

    .table-content-area:has(tbody tr:nth-child(5)) {
        justify-content: flex-start;
    }

    .table-wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        overflow-x: auto;
    }

    .table-content {
        width: 100%;
        border-collapse: collapse;
    }


        .table-content thead {
            background: var(--footer-background);
            color: white;
        }

        .table-content th,
        .table-content td {
            padding: 12px 16px;
            text-align: center;
            font-size: 13px;
        }

    .table-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .table-btn {
        display: inline-block;
        padding: 6px 12px;
        background: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        transition: 0.3s;
        border: none;
    }

    /* table end */

    /* admin & user profile start */

    .adminprofile-section, .userprofile-section {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .adminprofile-wrapper, .userprofile-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        background-color: var(--navbar-background);
    }

    .adminprofile-img, .userprofile-img {
        flex: 1;
        width: 100%;
        min-height: 300px !important;
        text-align: center;
    }

        .adminprofile-img img, .userprofile-img img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }

    .adminprofile-content, .userprofile-content {
        flex: 1;
        width: 100%;
        color: #ffffff;
        padding: 12px;
    }

    .adminprofile-title, .userprofile-title {
        color: #ED4264;
        font-size: 15px;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .adminprofiel-name, .userprofiel-name {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 8px;
    }

    .adminprofile-role, .userprofile-role {
        font-size: 16px;
        color: #ED4264;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .adminprofile-desc, .userprofile-desc {
        font-size: 14px;
        line-height: 1.7;
        color: #666;
        margin-bottom: 10px;
    }


    .adminprofile-actions, .userprofile-actions {
        display: flex;
        gap: 12px;
    }

        .adminprofile-actions .buttons, .userprofile-actions .buttons {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 10px 6px;
            width: 100%;
            color: #fff !important;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 8px;
            border: none;
        }

    /* admin & user profile end */


}


@media screen and (min-width: 992px) {

    /* desktop header start */

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 24px 28px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav .logo img {
            width: 120px;
            height: 20px;
        }

        header nav button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
        }

        header nav .openIcon,
        header nav .closeIcon {
            color: var(--icon-color) !important;
            font-size: 22px;
        }

    #sideBar {
        position: fixed;
        top: 74px;
        left: -100%;
        width: 32%;
        height: calc(100vh - 74px);
        background: rgba(243, 245, 244, 0.85);
        backdrop-filter: blur(10px);
        opacity: 0.95;
        -webkit-backdrop-filter: blur(15px);
        transition: 0.5s ease-in-out;
        z-index: 999;
        overflow-y: auto;
        border-top: 1px solid rgba(0,0,0,0.20);
    }

    .sidebar-active {
        left: 0 !important;
    }

    #sideBar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

        #sideBar ul li {
            text-align: center;
        }

            #sideBar ul li a {
                text-decoration: none;
                color: var(--body-text-color);
                font-weight: 600;
                font-size: 17px;
            }


    #sideBar .sidebar-footer .admin-actions {
        text-align: center;
    }

        #sideBar .sidebar-footer .admin-actions a i {
            color: var(--button-color) !important;
            font-size: 17px;
            margin: 0 15px;
            display: inline-block;
        }

    #sideBar button {
        background: var(--button-color) !important;
        border: none;
        padding: 6px 14px;
        border-radius: 5px;
        margin: 5px auto;
        cursor: pointer;
        display: block;
    }

        #sideBar button a {
            color: #fff !important;
            text-decoration: none;
        }

    /* desktop header end */

    /* table start */

    .table-content-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        width: 100%;
        padding: 20px 15px;
    }

    .table-title {
        font-size: 22px;
    }

    .table-content-area:has(tbody tr:nth-child(5)) {
        justify-content: flex-start;
    }

    .table-wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        overflow-x: auto;
    }

    .table-content {
        width: 100%;
        border-collapse: collapse;
    }


        .table-content thead {
            background: var(--footer-background);
            color: white;
        }

        .table-content th,
        .table-content td {
            padding: 12px 16px;
            text-align: center;
            font-size: 14px;
        }

    .table-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .table-btn {
        display: inline-block;
        padding: 6px 12px;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 13px;
        font-weight: bold;
        transition: 0.3s;
        border: none;
    }

    /* table end */

    /* admin & user profile start */

    .adminprofile-section, .userprofile-section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
    }

    .adminprofile-wrapper, .userprofile-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        background-color: var(--navbar-background);
    }

    .adminprofile-img, .userprofile-img {
        flex: 1;
        width: 100%;
        min-height: 350px !important;
        text-align: center;
    }

        .adminprofile-img img, .userprofile-img img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }


    .adminprofile-content, .userprofile-content {
        flex: 1;
        width: 100%;
        color: #ffffff;
        padding: 12px;
    }

    .adminprofile-title, .userprofile-title {
        color: #ED4264;
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .adminprofiel-name, .userprofiel-name {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 8px;
    }

    .adminprofile-role, .userprofile-role {
        font-size: 18px;
        color: #ED4264;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .adminprofile-desc, .userprofile-desc {
        font-size: 14px;
        line-height: 1.7;
        color: #666;
        margin-bottom: 10px;
    }


    .adminprofile-actions, .userprofile-actions {
        display: flex;
        gap: 13px;
    }

        .adminprofile-actions .buttons, .userprofile-actions .buttons {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 10px 6px;
            width: 100%;
            color: #fff !important;
            font-size: 15px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 8px;
            border: none;
        }

    /* admin & user profile end */


}


@media screen and (min-width: 1200px) {

    /* desktop header start */

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 24px 28px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav .logo img {
            width: 120px;
            height: 20px;
        }

        header nav button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
        }

        header nav .openIcon,
        header nav .closeIcon {
            color: var(--icon-color) !important;
            font-size: 22px;
        }

    #sideBar {
        position: fixed;
        top: 74px;
        left: -100%;
        width: 26%;
        height: calc(100vh - 74px);
        background: rgba(243, 245, 244, 0.85);
        backdrop-filter: blur(10px);
        opacity: 0.95;
        -webkit-backdrop-filter: blur(15px);
        transition: 0.5s ease-in-out;
        z-index: 999;
        overflow-y: auto;
        border-top: 1px solid rgba(0,0,0,0.20);
    }

    .sidebar-active {
        left: 0 !important;
    }

    #sideBar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

        #sideBar ul li {
            text-align: center;
        }

            #sideBar ul li a {
                text-decoration: none;
                color: var(--body-text-color);
                font-weight: 600;
                font-size: 17px;
            }


    #sideBar .sidebar-footer .admin-actions {
        text-align: center;
    }

        #sideBar .sidebar-footer .admin-actions a i {
            color: var(--button-color) !important;
            font-size: 17px;
            margin: 0 15px;
            display: inline-block;
        }

    #sideBar button {
        background: var(--button-color) !important;
        border: none;
        padding: 6px 14px;
        border-radius: 5px;
        margin: 5px auto;
        cursor: pointer;
        display: block;
    }

        #sideBar button a {
            color: #fff !important;
            text-decoration: none;
        }

    /* desktop header end */

    /* table start */

    .table-content-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        width: 100%;
        padding: 20px 5px;
    }

    .table-title {
        font-size: 25px;
    }

    .table-content-area:has(tbody tr:nth-child(5)) {
        justify-content: flex-start;
    }

    .table-wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        overflow-x: auto;
    }

    .table-content {
        width: 100%;
        border-collapse: collapse;
    }


        .table-content thead {
            background: var(--footer-background);
            color: white;
        }

        .table-content th,
        .table-content td {
            padding: 13px 16px;
            text-align: center;
            font-size: 15px;
        }

    .table-img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    .table-btn {
        display: inline-block;
        padding: 6px 12px;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        transition: 0.3s;
        border: none;
    }

    /* table end */

    /* admin & user profile start */

    .adminprofile-section, .userprofile-section {
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adminprofile-wrapper, .userprofile-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        background-color: var(--navbar-background);
    }

    .adminprofile-img, .userprofile-img {
        flex: 1;
        width: 100%;
        min-height: 380px !important;
        text-align: center;
    }

        .adminprofile-img img, .userprofile-img img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }


    .adminprofile-content, .userprofile-content {
        flex: 1;
        width: 100%;
        color: #ffffff;
        padding: 12px;
    }

    .adminprofile-title, .userprofile-title {
        color: #ED4264;
        font-size: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .adminprofiel-name, .userprofiel-name {
        font-size: 21px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .adminprofile-role, .userprofile-role {
        font-size: 20px;
        color: #ED4264;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .adminprofile-des, .userprofile-desc {
        font-size: 15px;
        line-height: 1.7;
        color: #666;
        margin-bottom: 14px;
    }


    .adminprofile-actions, .userprofile-actions {
        display: flex;
        gap: 10px;
    }

        .adminprofile-actions .buttons, .userprofile-actions .buttons {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 10px 6px;
            width: 100%;
            color: #fff !important;
            font-size: 15px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 8px;
            border: none;
        }


    /* admin & user profile end */


}


/* ============================================================
                        media-query css end 
================================================================ */
