/* common css start */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.myContainer {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --button-color: linear-gradient(135deg, #FFEDBC 0%, #ED4264 100%);
    --navbar-background: #F3F5F4;
    --body-color: #FFFFFF;
    --footer-background: #353333;
    --header-text-color: #F8F9FA;
    --body-text-color: #2D2D2D;
    --footer-text-color: #F8F9FA;
    --icon-color: #ED4264
}

/* common css end */

/* mobile css start */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.mobile-header {
    display: block;
    background-color: var(--navbar-background);
    padding: 15px 24px;
}

.desktop-header {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header nav .logo img {
        width: 84px;
        height: 14px;
    }

    header nav button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    header nav .openIcon,
    header nav .closeIcon {
        color: var(--icon-color) !important;
        font-size: 20px;
    }

#sideBar {
    position: fixed;
    top: 54px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 54px);
    background: rgba(243, 245, 244, 0.85);
    backdrop-filter: blur(10px);
    opacity: 0.90;
    -webkit-backdrop-filter: blur(15px);
    transition: 0.5s ease-in-out;
    z-index: 999;
    overflow-y: auto;
    border-top: 1px solid rgba(0,0,0,0.20);
}

.sidebar-active {
    right: 0 !important;
}

#sideBar ul {
    list-style: none;
    padding: 12px;
    margin: 0;
}

    #sideBar ul li {
        padding: 12px 0;
        text-align: center;
    }

        #sideBar ul li a {
            text-decoration: none;
            color: var(--body-text-color);
            font-weight: 600;
            font-size: 15px;
        }

.user-actions-container {
    padding: 15px 20px;
    text-align: center;
}

    .user-actions-container i {
        color: var(--icon-color) !important;
        font-size: 13px;
        margin: 0 15px;
        display: inline-block;
    }

#sideBar button {
    background: var(--button-color) !important;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    margin: 5px auto;
    cursor: pointer;
    display: block;
}

    #sideBar button a {
        color: #fff !important;
        text-decoration: none;
    }

/* mobile css end */



/* media query start */

@media screen and (min-width: 576px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 20px 10px;
    }

    .mobile-header{
        display: none;
    }


        header nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            header nav .logo img {
                width: 70px;
                height: 18px;
            }

            header nav ul {
                display: flex;
                list-style: none;
                gap: 15px;
                margin: 0;
                padding: 0;
            }

                header nav ul li a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                    font-weight: 600;
                    font-size: 12px;
                }

            header nav button {
                background: var(--button-color);
                border: none;
                font-size: 10px;
                padding: 4px 10px;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }

                header nav button a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                }

            header nav .cartIcon, header nav .userIcon {
                color: var(--icon-color) !important;
                font-size: 13px;
            }
            

}

@media screen and (min-width: 768px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 20px 8px;
    }

    .mobile-header {
        display: none;
    }


        header nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            header nav .logo img {
                width: 86px;
                height: 20px;
            }

            header nav ul {
                display: flex;
                list-style: none;
                gap: 22px;
                margin: 0;
                padding: 0;
            }

                header nav ul li a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                    font-weight: 600;
                    font-size: 14px;
                }

            header nav button {
                background: var(--button-color);
                border: none;
                font-size: 11px;
                padding: 6px 14px;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }

                header nav button a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                }

            header nav .cartIcon, header nav .userIcon {
                color: var(--icon-color) !important;
                font-size: 14px;
            }


}

@media screen and (min-width: 992px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 20px 10px;
    }

    .mobile-header {
        display: none;
    }


    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .logo img{
        width: 110px;
        height: 30px;
    }

        header nav ul {
            display: flex; 
            list-style: none;
            gap: 40px;
            margin: 0;
            padding: 0;
        }

            header nav ul li a {
                text-decoration: none;
                color: var(--body-text-color) !important;
                font-weight: 600;
                font-size: 16px;
            }

        header nav button {
            background: var(--button-color);
            border: none;
            font-size: 16px;
            padding: 6px 16px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

            header nav button a {
                text-decoration: none;
                color: var(--body-text-color) !important;
            }

        header nav .cartIcon, header nav .userIcon {
            color: var(--icon-color) !important;
            font-size: 20px;
        }

}

@media screen and (min-width: 1200px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .desktop-header {
        display: block;
        background-color: var(--navbar-background);
        padding: 25px 0;
    }

    .mobile-header {
        display: none;
    }


        header nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            header nav .logo img {
                width: 130px;
                height: 32px;
            }

            header nav ul {
                display: flex;
                list-style: none;
                gap: 45px;
                margin: 0;
                padding: 0;
            }

                header nav ul li a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                    font-weight: 600;
                    font-size: 18px;
                }

            header nav button {
                background: var(--button-color);
                border: none;
                font-size: 18px;
                padding: 8px 18px;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }

                header nav button a {
                    text-decoration: none;
                    color: var(--body-text-color) !important;
                }

            header nav .cartIcon, header nav .userIcon {
                color: var(--icon-color) !important;
                font-size: 23px;
            }
    
}

/* media query end*/